@import 'tailwindcss';
@import 'tw-animate-css';


/* Plain blinking cursor */
.blink {
  display: inline-block;
  width: 1ch; /* same width as a character */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
